<h1>ALİ CAN YÜCEL X0X GAME</h1>
<h2 class="alert alert-warning text-center">{{message}}</h2>
<button class="btn btn-primary w-100" (click)="newGame()">Yeni Oyun</button>
<button class="row mt-2">
  <div (click)="setMark(index)" style="border:1px solid #ccc; height: 150px; cursor:pointer;"  class="col-md-4 text-center btn btn-warning" *ngFor="let game of games let index= index">
  <span style="font-size: 80px;" >{{game.mark}}</span>
  </div>
</button>
<hr>
<button *ngFor="let m of moves let i=index" (click)="returnSelectMove(i)" class="btn btn-primary mx-1 mt-1">{{i+1}}.hamle</button>